{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block body %}
	<h1>Ajouter Category</h1>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit">add</button>
	{{ form_end(form) }}

{% endblock %}
