{% extends 'base.html.twig' %}
{% block body %}
	<!-- Preloader -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- End Preloader -->

	{% block content %}
		{% include 'partials/_header.html.twig' %}
	{% endblock %}

{% endblock %}
